MYSQL_HOST=YOUR_MYSQL_HOST
MYSQL_PORT=3306
MYSQL_USER=YOUR_MYSQL_USER
MYSQL_PASSWORD=YOUR_MYSQL_PASSWORD
MYSQL_DATABASE=YOUR_MYSQL_DATABASE
MYSQL_SSL=true
MYSQL_SSL_REJECT_UNAUTHORIZED=false
NEXT_PUBLIC_SITE_URL=https://v0-olbrox-tech-admin.vercel.app
